<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huangchao.acef.dao.PictureMapper">

    <!--***********************************************************************  增 *************************************************************************************-->

    <!--保存轮播图或协会介绍数据到数据库-->
    <insert id="uploadPicture">
        insert into picture values
        <foreach collection="imgPaths" item="url" separator=",">
            (default,#{part},#{url},default)
        </foreach>
    </insert>

    <!--//富文本图片保存-->
    <insert id="addRichTextPicture">
        insert into rich_text_picture values (default,#{articleId},#{url})
    </insert>

    <!--***************************************************************************  删  *********************************************************************************-->

    <!--删除轮播图-->
    <delete id="deleteSlideshow">
        delete from picture where id =#{id} limit 1
    </delete>

    <!--删除中断富文本文章上传的图片-->
    <delete id="deleteRichTextPicture">
        delete from rich_text_picture where articleId =#{articleId} limit 1
    </delete>
    <!--***************************************************************************  查  *********************************************************************************-->

    <!--查找富文本文章上传的图片-->
    <select id="getRiceTextPictures" resultType="String">
        select url from rich_text_picture where articleId=#{articleId} limit 1
    </select>

    <!--轮播图/协会介绍链接获取-->
    <select id="getPicture" resultType="Slideshow">
        select id,url from picture where part=#{part}
    </select>

    <!--***************************************************************************  改  *********************************************************************************-->

    <!--更新协会介绍图片-->
    <update id="updateAssociationIntroduction">
        update picture set url=#{url} where id=#{id} limit 1
    </update>

</mapper>
