<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.huangchao.acef.dao.UserMapper">

    <!--***********************************************************************  增 *************************************************************************************-->

    <!--保存用户信息-->
    <insert id="addUser">
        insert into user values(default,#{emailAccount},#{password},#{userName},#{phone},#{status}, default,default)
    </insert>

    <!--***************************************************************************  查  *********************************************************************************-->

    <!--查找用户-->
    <select id="findUserByEmailAccount" resultType="User">
        select id,password from user where emailAccount = #{emailAccount}
    </select>

    <!--查找用户-->
    <select id="findUserById" resultType="User">
        select * from user where id = #{id}
    </select>

    <!--查找用户id-->
    <select id="findIdByEmailAccount" resultType="String">
        select id from user where emailAccount = #{emailAccount}
    </select>

    <!--***************************************************************************  改  *********************************************************************************-->

</mapper>
